.tabMenu {
  background-color: var(--deep-sparkle);
  display: flex;
  flex-direction: column;
  height: 500px;
  left: -100px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 100px;
  border-radius: 3px 0 0 3px;
}

.tab {
  align-items: center;
  background-color: var(--deep-sparkle);
  border-radius: 3px 0 0 3px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  flex: 0 0 25px;
}

.tab:hover {
  background-color: var(--p-purple);
}

.activeTab {
  background-color: var(--max-purple);
  border-radius: 3px 0 0 3px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 25px;
}
