.main {
  align-items: center;
  background-color: var(--blue-1);
  border-radius: 3px;
  box-shadow: 0px 5px 12px 0px var(--blue-0);
  display: flex;
  flex-direction: column;
  height: 540px;
  overflow-y: auto;
  position: relative;
  padding: 20px;
  width: var(--app-width);
}
.title {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
}
.detailBox {
  width: 100%;
  margin: 7px 0;

  & summary {
    cursor: pointer;
    font-size: 0.9rem;
  }

  & a {
    text-decoration: none;
    color: var(--blue-4);
  }
}
