.EditorFooter {
  align-items: center;
  display: flex;
  gap: 5px;
  height: 50px;
  width: 100%;

  & .NavButton {
    flex: 0 0 20%;
    height: 100%;
  }

  & .SubmitButton {
    flex: 1 0 45%;
    height: 100%;
  }
}
