.EditorHeader {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;

  & h1 {
    color: white;
    margin: 0;
    max-width: 300px;
    overflow: hidden;
  }

  & .Controls {
    align-items: center;
    display: flex;
    gap: 10px;

    & .Button {
      height: 30px;
      width: 30px;
    }
  }
}
