:root {
  --cinnabar: #db4c40;
  --salsa: #fb3640;
  --blue-0: #47624f;
  --blue-1: #598894;
  --blue-2: #566e79;
  --blue-2-5: #788f9b;
  --blue-3: #79d5be;
  --blue-4: #9ffcdf;
  --green-0: #447604;
  --green-1: #589e2b;
  --green-2: #62b23e;
  --green-3: #6cc551;
  --green-4: #79ca61;
}
