@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "./colors.scss";

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--blue-2);
  display: flex;
  font-family: Quicksand, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-3);
  border-radius: 5px;

  &:hover {
    background: var(--blue-4);
  }
}
