@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "./colors.scss";

body {
  align-items: center;
  background-color: var(--blue-2);
  display: flex;
  flex-direction: column;
  font-family: Quicksand, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  width: 100vw;
}
