.WordList {
  background-color: var(--blue-1);
  display: flex;
  flex-direction: column;
  height: var(--app-height);
  overflow-y: auto;
  padding: 5px;
  width: 100%;
  .wordCell {
    align-items: center;
    display: flex;
    font-size: 1rem;
    flex: 0 0 32px;
    justify-content: space-between;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    border-bottom: 1px solid var(--blue-0);

    & .delete {
      display: none;
      position: absolute;
      right: 2px;
      top: 2px;
      width: 26px;
      height: 26px;
    }

    &:hover .delete {
      background-color: var(--green-3);
      border: none;
      border-radius: 3px;
      color: white;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    &:hover .delete:hover {
      background-color: var(--green-4);
    }
    &:hover .delete:active {
      background-color: var(--green-3);
      transform: translateY(1px);
    }
  }
}
