@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #fff;

  --phthalo: #1e352f;
  --border: hsla(193, 15%, 26%, 0.1);
  --cadet-blue: #699c9d;
  --opal: #c7ddda;
  --p-purple: #624cab;
  --max-purple: #a5a8f0;
  --deep-sparkle: #4c6161;
  --cinnabar: #db4c40;
  --salsa: #fb3640;
}

* {
  box-sizing: border-box;
}
