@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Quicksand", sans-serif;
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #fff;

  --app-width: 380px;
  --app-height: 500px;

  --cinnabar: #db4c40;
  --salsa: #fb3640;

  --blue-0: #47624f;
  --blue-1: #598894;
  --blue-2: #566e79;
  --blue-2-5: #60b3a3;
  --blue-3: #79d5be;
  --blue-4: #9ffcdf;
  --green-0: #447604;
  --green-1: #589e2b;
  --green-2: #62b23e;
  --green-3: #6cc551;
  --green-4: #79ca61;

  background-color: var(--blue-2);
}

* {
  box-sizing: border-box;
}

textarea {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
}

@media only screen and (max-width: 400px) {
  body {
    --app-width: 95vw;
    --app-height: calc(100vh - 150px);
  }
}
